<%- include('../partials/head'); %>

<body>
    <nav>
        <a href="/ranJokes">Random Jokes</a>
        <a href="/">Home</a>
    </nav>
    <p> <%= data%></p>
    <%- include('../partials/script'); %>
</body>

</html>